* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

main {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.chatbox {
  background-color: whitesmoke;
  /* opacity: 0.8; */
  border: 3px solid #708090;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  width: 300px;
  height: auto;
  position: fixed;
  bottom: -80px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
